.App {
  text-align: center;
}

.top {
  width: 100%;
  margin: 1em;
  display: flex;
}

.navbar {
  margin-left: 34em;
  display: flex;
  justify-content: center;
  
}

.navlink {
  margin: 0 1em;
}

.preview {
  width: 15em;
  height: 15em;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  margin: 1em, 1em, 1em;
}

.previewIframe {
  width: 15em;
  height: 8em;
}

.previewTitle {
  margin-bottom: -0.5em;
}

.previewLayout {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.editorTextarea {
  width: 35em;
  height: 30em; 
}

.loginContainer {
  margin-left: 25em;
  display: flex;
  flex-direction: column;
  
}

.loginButton {
  width: 6em;
}